

main {
  width: 100vw;
  height: 100vh;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  width: 300px;
  height: 300px;
  padding: 10px;
}

.innerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 290px;
  width: 142px;
}

img {
  padding: 2px;
  margin: 2px;
  width: 90%;
  height: 30%;
  object-fit: fit;
  border: 2px solid black;
}

#reset {
  display: none;
}

#verify {
  display: none;
}

img:hover {
  opacity: 40%;
  cursor: pointer;
}

.imgClick {
  opacity: 40%;
}

button {
  cursor: pointer;
  margin: 20px;
}
